*{
  font-family: Helvetica, Arial, sans-serif;

}

body{
  padding: 60px;
}


input {
  color: green;
  width: 100%;
  font-size: 1.2rem;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 300px;
  height: 300px;

}

.card p {
  text-align: center;
  margin-top: 25px;
  
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-p{
  font-size: 1rem;
  margin: 0 0 0 0;
}


